@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:ital,wght@1,200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
    color: rgb(243, 241, 137);
    scroll-behavior: smooth;
}
ul{
    font-size: 15px;
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background: url("./fundo-body.jpg") no-repeat center fixed;
    background-size: cover;
    background-blend-mode: darken;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    padding: 10px;
    border-bottom: 2px double white;
}
header div{
    font-size: 20px;
    padding: 10px;
    margin-left: 5%;
}
header ul{
    display: flex;
    padding: 10px;
    margin-right: 5%;
}
header ul li{
    padding: 10px;
}
header ul li a{
    transition: 400ms;
}
header ul li a:hover{
    font-size: 17px;
    text-decoration: underline;
}

.container{
    margin-top: 10%;
    text-align: center;
}
.container #nome h1{
    font-size: 45px;
    font-family: 'Arial Narrow Bold', sans-serif;
    padding: 5px;
}
.container #nome h5{
    font-size: 25px;
}
#seta{
    margin-top: 8px;
    font-size: 40px;
}
#seta #animacao{
    cursor: pointer;
    transition: 300ms;
}
.rotate{
    transform: rotate(180deg);
    transition: 300ms;
}
.mostrarTexto{
    display: block !important; 
}
#sobre p{
    width: 950px;
    margin:0 auto;
}
.form{
    width: 40%;
    margin: 0 auto;
    padding: 30px;
}
.form input{
    width: 50%;
    padding: 5px 10px;
    border: 1px solid black;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    color: black;
    font-weight: 600;
}
.form button{
    width: 20%;
    padding: 5px 10px;
    background-color: black;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border: none;
    margin-left: -4px;
    transition: 200ms;
    border: 1px solid black;
}
#sobre-mim{
    margin:0 auto;
    padding-top: 30px;
    display: flex;
    margin-top: 20%;
    height: 600px;
    width: 80%;
    justify-content:space-between;
    border: 2px solid black;
    border-radius: 10px 10px;
    backdrop-filter: brightness(0.3);
}
#sobre-mim p{
    display: flex;
    font-size: 20px;
    width: 40%;
    margin-left:100px;
    margin-top: 50px;
    text-align: justify;
}
img.minha-foto{
    width: 400px;
    padding: 10px;
    margin-right: 100px;
}
#projetos{
    margin-top: 15%;
    height: 700px;
}
#contato{
    margin-top: 15%;
    height: 600px;
}
.form button:hover{
    background-color: white;
    font-weight: 600;
    color: black;
    cursor: pointer;
    border-left: none;

}